{#Esta es dentro de la pestaña de tareas, la opcion VER las tareas dentro del servidor#}
{% extends 'layout/base.html' %}

{% block 'title' %} Tarea {{tarea.title}} {% endblock %}

{% block 'content' %}
    <span class='aux-btn'><a href='{% url 'todo' %}'>Volver atras</a> <a href='todo_create'>Añadir</a></span>
    <ul class='list'>
        <li><b>Titulo:</b> {{ tarea.title }} </li>
        <li><b>Descripción:</b> {{ tarea.description }} </li>
        <li><b>Fecha de creacion:</b> {{ tarea.date }} </li>
        <li><b>Fecha maxima de realizacion:</b> {{ tarea.estimated_end }} </li>
        <li><b>Prioridad(1-5):</b> {{ tarea.priority }} </li>
    </ul>
{% endblock %}