{#Esta es la pestaña de CONTACTOS dentro del servidor#}
{% extends 'layout/base.html' %}

{% block 'title' %}Contactos{% endblock %}

{% block 'styles' %}{% endblock %}

{% block 'content' %}
<h1>Contactos</h1>
   
    {% include 'agenda/partials/form_search.html' %}

    <span class='aux-btn'><a href='{% url 'agenda' %}'>Ver todos</a> <a href='{% url 'contact_create' %}'>Añadir</a></span>
        <ul class='list'>
            {% for contact in contacts%}
                <li> {{ contact }} 
                    <span>
                        <a href='{% url 'contact_view' id=contact.id %}' class='btn btn-detail'>Ver</a>
                        <a href='{% url 'contact_edit' id=contact.id %}' class='btn btn-edit'>Editar</a>
                        <a href='{% url 'contact_delete' id=contact.id %}' class='btn btn-delete'>Borrar</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
{% endblock %}

